<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Efficontrol - Performance management software</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Efficontrol is a human resource management software that analyzes the activity of employees and detects low productivity, poor performance and other bad attitudes that can delays projects in a company" />
    
		<meta name="author" content="Efficontrol">

		<!-- Le styles -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/theme.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,600,300' rel='stylesheet' type='text/css'>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="favicon.png">
	</head>

	<body onload="InitVisitorVariables()">
		<div class="navbar-wrapper">
			<div class="container">
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</a>
						<a class="brand" href="index.html">Efficontrol</a>
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								<li class="active"><a href="index.html">Home</a></li>
                                <li><a href="vision.html">Our Vision</a></li>
								<li><a href="HowItWorks.html">How it works</a></li>
                                <li><a href="partners.html">Partners</a></li>
								<li><a href="screenshots.html">Screenshots</a></li>
								<li><a href="/site">LogIn</a></li>
							</ul>
						</div><!--/.nav-collapse -->
					</div><!-- /.navbar-inner -->
				</div><!-- /.navbar -->
			</div><!-- /.container -->
		</div><!-- /.navbar-wrapper -->

		<!-- image slider -->
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<!-- slide 1 -->
				<div class="item active">
					<img src="assets/slide-01.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Analyze employee's behaviour</h1>
							<p class="lead visible-desktop">Maximize the performance and the productivity of your employees by analyzing how they perform their duties and make decisions based upon actual data  </p>
							<!--<a class="btn btn-large btn-primary" href="#">Learn more</a>-->
						</div>
					</div>
				</div>
				<!-- slide 2 -->
				<div class="item">
					<img src="assets/slide-02.jpg" alt="">
					<div class="container">
						<div class="carousel-caption">
							<h1>Get total control of your employees performance </h1>
							<p class="lead visible-desktop">Detect when an employee lowers his productivity, and take measures to correct that behaviour.</p>
							<!--<a class="btn btn-large btn-primary" href="#">Learn more</a>-->
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div><!-- /.carousel -->

		<div class="middle-bar">
			<div class="container">
				<div class="row">
					<div class="span12">
                    	<h2>Sign up to our free trial   <a href="#signup" class="btn btn-large">Sign Up <i class="icon-circle-arrow-right"></i></a></h2>
					</div>
				</div>
			</div>
		</div>


		<div class="container">
			<!-- Three columns -->
			<div class="row">
				<div class="span4">
					<h2>Productivity</h2>
					<p><i class="icon-lightbulb icon-4x pull-left"></i>We get the productivity as the ratio of working time in productivity stuff vs total working time.</p>
					<!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
				</div><!-- /.span4 -->
				<div class="span4">
					<h2>Performance</h2>
					<p><i class="icon-cogs icon-4x pull-left"></i>The performance of an employee is the ratio of time spent completing a task vs time planned by the manager.</p>
					<!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
				</div><!-- /.span4 -->
				<div class="span4">
					<h2>Engagement</h2>
					<p><i class="icon-beaker icon-4x pull-left"></i>The system detects different types of ratios like low performance, time wasted surfing websites, team climate, employees without assigned tasks, etc.</p>
					<!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
				</div><!-- /.span4 -->
			</div><!-- /.row -->

			<hr/>
			<h2>Take a look at the benefits:</h2>
			<hr/>

			<!-- product tour -->
			<div class="row">
				<div class="span12 tour-section">
					<img src="assets/indexSU2.jpg" width="50%" alt="index for HR" class="pull-right tour-image"/>
					<div class="ribbon-left ribbon-color-one">
						<h2><i class="icon-search"></i> Benefits for HR</h2>
					</div>
					<h3>Focusing on the productivity. <br/>
					<span class="muted">Get up to 50% more productivity</span></h3>
					<p class="lead">Efficontrol provides valuable information about the performance and the productivity of your employees. It also empowers you to detect those who are favoured by their managers despite consistently performing below average. It will also alert you to those employees who should be watched more closely due to behaviour patterns that could result in poor performance in the future.</p>
					<p class="lead">Detects associates or outsourcing companies who failed to provide documentation when they should have</p>
					<p><a href="#signup" class="btn btn-primary btn-large">Try it for free</a></p>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="span12 tour-section">
					<img src="assets/product-02.jpg" alt="product2" class="pull-left tour-image"/>
					<div class="ribbon-right">
						<h2>Benefits for Managers <i class="icon-plus-sign-alt"></i></h2>
					</div>
					<h2>Get rid of paperwork. <br/>
					<span class="muted">Detect tasks with overtime.</span></h2>
					<p class="lead">Creates various reports automatically, such as employee timesheets, progress reports for projects, etc.
                    <p class="lead">Allows customers and other contacts to interact with the project from any device via email.</p>
                    <p class="lead">Automatically creates the agenda and minutes to manage meetings and avoid paperwork.</p>
                    <p class="lead">Proactively detects situations and attitudes that can cause delays in a project.</p>
					<p><a href="#signup" class="btn btn-primary btn-large">Try it for free</a></p>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="span12 tour-section">
					<img src="assets/product-04.jpg" alt="facebook" class="pull-right tour-image"/>
					<div class="ribbon-left">
						<h2><i class="icon-comments"></i> Benefits for IT</h2>
					</div>
					<h2>Save bandwidth. <br/>
					<span class="muted">No human action is required.</span></h2>
					<p class="lead">Reduces usage of bandwidth. If the employee visits a web that is on the "black list", the page is automatically closed.</p>
                    <p class="lead">The "black list" is generated automatically by our algorithms, which examine the page and determine whether it is non productive.</p>
                    <p class="lead">The system can be installed "behind your firewall", allowing a total control by the IT department.</p>
					<p><a href="#signup" class="btn btn-primary btn-large">Try it for free</a></p>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="span12">
					<div id="signup" class="well centered">
						<h3><i class="icon-magic"></i> Pays for itself in just one day. Sign up to our free trial now</h3>

                      <!--  <form class="form-inline" method="post" action="http://localhost:6384/Autentificacion/PrivateBeta">-->
                        <form class="form-inline" method="post" action="http://www.efficontrol.com/site/Autentificacion/PrivateBeta">
                            <input type="hidden" name="UTCOffset" id="UTCOffset"/>
            				<input name="email" id="email"  type="text" placeholder="Email"/>
							<button onclick="javascript:validateAndSubmit();" type="submit" class="btn btn-primary">Sign Me Up</button>
						</form>
					</div>
				</div>
			</div>

		</div><!-- /.container -->
        
        <p>.</p><p>.</p><p>.</p>
		<footer style="position: fixed;bottom: 0; text-aling:left; width:100%">
            <div class="container">
			    <div class="row">
				    <div class="span12">
                        <a href="mailto:info@efficontrol.com">&copy; Contact us &middot;</a>
                    </div>
				</div>
			</div>
        </footer>
        
		<!-- last but not least the javascript -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript">
		    $(document).ready(function () {
		        var language = window.navigator.userLanguage || window.navigator.language;

		    /*    if (language == 'es' || language == 'es-ES')
		            window.location.href = "http://www.efficontrol.com/index_es.html";*/

		        //bootstrap tooltip trigger
		        $('[rel="tooltip"]').tooltip();
		    });
		</script>

        
        <!-- script for get the UTCOffset of the user -->
        <script type="text/javascript">
            function getUTCOffset() {
                var d = new Date();
                var x = document.getElementById("UTCOffset");
                x.value = d.getTimezoneOffset();
                x.innerHTML = d.getTimezoneOffset();
            }
        </script>
        <!-- end of script for get the UTC Offset -->

        <script type="text/javascript">
            function InitVisitorVariables() {
                getUTCOffset();
            }
        </script>


        <!-- script to validate the email address -->
        <script type="text/javascript">
            function validateEmail(email) {
                var re = /\S+@\S+\.\S+/;
                return re.test(email);
            }

            function validateAndSubmit() {
                var x = document.getElementById("email").value;

                if (validateEmail(x))
                    javascript: document.forms[1].submit();
                else {
                    alert("Invalid Email");
                    return 0;
                }
            }    
        </script>
      
        <script type='text/javascript'>
            window.session = {
                options: { use_html5_location: false,
                    ipinfodb_key: false,
                    gapi_location: true,
                    location_cookie: "location",
                    location_cookie_timeout: 5,
                    session_timeout: 32,
                    session_cookie: "first_session"
                },
                start: function (session) { // can also use window.session global.
                }
            }
        </script>
        <script type='text/javascript' src="js/session.js"></script>
        <script type='text/javascript' src="js/bootbox.js"></script>

        <!-- google analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36815988-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- end of google analytics -->
	</body>
</html>
