<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp>
        <!--   <network host="mail.unifydev.com" userName="GTPTracker@unifydev.com" password="tempor@l1" port="25" />-->
        <!--<network host="mail.gtp-toolbox.com" userName="postmaster@gtp-toolbox.com" password="tempor@l1" port="25" />-->
        <network host="smtp.1und1.de" userName="info@gtp-toolbox.com" password="GTPtoolbox2016" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--   <add name="CrunchingEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TOSHI\SQLEXPRESS;initial catalog=Crunching;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CrunchingEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:s10.winhost.com;Initial Catalog=DB_74582_projectx;User ID=DB_74582_projectx_user;Password=Olocerc1;Integrated Security=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Development server on unifydev -->
    <add name="GTPTrackerEntities" connectionString="metadata=res://*/Models.GTPTracker.csdl|res://*/Models.GTPTracker.ssdl|res://*/Models.GTPTracker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:s10.winhost.com;initial catalog=DB_74582_gtptracker;persist security info=True;user id=DB_74582_gtptracker_user;password=Olocerc1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationServices" connectionString="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_74582_gtptracker;User ID=DB_74582_gtptracker_user;Password=Olocerc1;Integrated Security=False" providerName="System.Data.SqlClient" />

    <!--German provider - GTP-TOOLBOX.COM 
<add name="GTPTrackerEntities" connectionString="metadata=res://*/Models.GTPTracker.csdl|res://*/Models.GTPTracker.ssdl|res://*/Models.GTPTracker.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=169.50.111.4,780;initial catalog=toolboxGTP_gtp;persist security info=True;user id=toolboxGTP_user;password=ToolBox2016;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="ApplicationServices" connectionString="Data Source=169.50.111.4,780;Initial Catalog=toolboxGTP_gtp;User ID=toolboxGTP_user;Password=ToolBox2016;Integrated Security=False" providerName="System.Data.SqlClient" />
-->
</connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="~/500">
      <error statusCode="404" redirect="~/404" />
      <error statusCode="500" redirect="~/500" />
    </customErrors>
    <httpRuntime maxRequestLength="52428" />
    <globalization uiCulture="es-es" culture="es-es" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <sessionState timeout="60" mode="InProc"></sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/signIn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="GTPTracker.Helpers.GTPMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".o2c" />
      <mimeMap fileExtension=".o2c" mimeType="application/x-o2c-object" />
      <remove fileExtension=".stp" />
      <mimeMap fileExtension=".stp" mimeType="application/step" />
      <remove fileExtension=".igs" />
      <mimeMap fileExtension=".igs" mimeType="application/iges" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/Error.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/500" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
        <equal binding="HttpStatusCode" value="400" type="Int32" />
        <equal binding="HttpStatusCode" value="0" type="Int32" />
      </test>
    </errorFilter>
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>